# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.env

# Virtual Environments
venv/
env/
ENV/
.venv/

# Docker
*.log
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp

# System Files
.DS_Store
Thumbs.db